<div class="panel panel-default">
  <div class="panel-heading" style="height: 100px;">
    <h2>{{ contact.name }}</h2>
    <div class="pull-left">
      <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="image-responsive">
    </div>
    <div class="pull-right">
      <a class="btn btn-primary" [routerLink]="['edit']">Edit</a>
      <a class="btn btn-danger" (click)="onDelete()" style="margin-left: 5px;">Delete</a>

    </div>
  </div>
  <div class="panel-body">
    <div class="list-group-item-heading">Email: {{ contact.email }}</div>
    <div class="list-group-item-heading">Phone: {{ contact.phone }}</div>
  </div>
</div>