<div class="panel panel-default">
    <div class="panel-heading" style="height: 100px;">
<div class="row">
  <div class="col-xs-12">
    <div class="pull-left">
      <h1>Contacts</h1>
    </div>
    <div class="pull-right">
      <button class="btn btn-success">New contact</button>
    </div>
  </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <cms-contact-item
      *ngFor="let contact of contacts"
     [contact]="contact"
      (click)="onSelected(contact)"></cms-contact-item>
  </div>
</div>
</div>